.App {
  text-align: center;
  background: linear-gradient(
      rgba(235, 237, 254, 0.944),
      rgba(232, 233, 248, 0.886)
    ),
    url("https://cms-assets.themuse.com/media/lead/_800x418_crop_center-center_82_none/22238.jpg?mtime=1568834549");
  min-height: 100vh;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  background-attachment: fixed;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
